/app
/md
/resource/tpch
/TPC-H V3.0.1
/resource/config
/resource/flink_result
/resource/flink_result
/resource/jar2sql
/resource/logs
/resource/flink_result
/resource/flink_result/1
/resource/logs
/resource/flink_result
/resource/logs
